<p></p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id = 'mainHeaderDiv'>
  <h2>RECIPE BOOK</h2>
</div>

<main>
  <div id = 'mainDiv'>
    <button class = 'main' routerLink="/add-recipe" routerLinkActive="activebutton">Add recipe</button>
    <button class = 'main' routerLink="/delete-recipe">Delete recipe</button>
    <button class = 'main' routerLink="/update-recipe">Update recipe</button>
    <button class = 'main' routerLink="/browse-all">Browse all recipes</button>
    <button class = 'main' routerLink="/filter-recipes">Filter recipes by type</button>
  </div>
</main>
</body>
</html>
